# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
scripts/logs
scripts/__pycache__
scripts/singlelayer/__pycache__
scripts/multilayer/__pycache__
